.textoComentario {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    overflow-wrap: break-word;
    width: 50%;
    height: 50vh;
    padding: 4px;
    background-color: #FFFFFF;
    position: absolute;
    top: 100px;
    left: 300px;
}


.volverComentar{
    position: fixed;
    bottom: 20px; 
    left: 20px; 
    width: 150px;
    height: 50px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}


.publicarComen{
    position: fixed;
    bottom: 20px; 
    width: 150px;
    height: 50px;
    right: 20px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}