.editar-estudiante-container {
  padding: 20px;
  color: var(--color-verde-oscuro);
}

.titulo {
  text-align: center;
  color: var(--color-marron-oscuro);
  margin-bottom: 20px;
}

.subtitulo {
  font-weight: bold;
  color: var(--color-marron-oscuro);
}

.detalle-persona {
  background-color: var(--color-beige);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.foto-preview {
  display: block;
  max-width: 100%;
  max-height: 150px; /* Limit the height */
  width: auto;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}