.equipo-trabajo-container {
    color: var(--color-verde-oscuro);
    padding: 20px;
  }
  
  .titulo {
    text-align: center;
    color: var(--color-marron-oscuro);
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: var(--color-beige);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-label {
    color: var(--color-marron-oscuro);
  }
  
  .form-control {
    background-color: var(--color-beige-claro);
    border: 1px solid var(--color-marron);
    color: var(--color-verde-oscuro);
  }
  
  .botones-container {
    padding: 20px;
    text-align: center;
  }
  
  .registrarEquipo {
    background-color: var(--color-verde-oscuro);
    color: var(--color-blanco);
    margin-right: 10px;
  }
  
  .volverEquipo {
    background-color: var(--color-marron-oscuro);
    color: var(--color-blanco);
  }
  