

.menuPrincipal{
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #58A399;
      position: fixed; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 8px;
      width: 100%; 
      height: 100vh; 
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #496989;
    height: 80px;
    top: 0px;
    color: white;
    text-align: center; 
}

.gestionar-personal{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 400px;
    top: 150px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}

.planTrabajo{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 400px;
    top: 300px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}

.equipoTrabajo{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 400px;
    top: 450px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;

}

.estudiantes{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 800px;
    top: 150px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}

.consultas{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 800px;
    top: 300px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}

.salir{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 800px;
    top: 450px;
    background: linear-gradient(180deg, #A8CD9F 0%, rgba(126, 104, 72, 0.765625) 91.15%, rgba(129, 105, 70, 0.698857) 95.31%, rgba(162, 117, 55, 0) 99.99%, rgba(144, 110, 63, 0.387316) 100%);
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}
.usuario-info {
    font-size: 16px;
    margin-bottom: 10px;
  }